/* PlaceDetails.css */
.image-slider .slick-next {
  right: 10px;
  color: rgb(8 145 178);
}
.image-slider .slick-prev {
  left: 10px;
  color: rgb(8 145 178);
}

.image-slider {
  display: flex;
  width: 100%;
  height: 60vh; /* Adjusted to 60vh */
  overflow: hidden;
}

.slick-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slider img {
  max-width: 45px; /* Maximum width */
  max-height: 45px; /* Maximum height */
  object-fit: cover; /* Ensures the image covers the container without stretching */
}

/* Contact Options */
.details .call-message .call .icon,
.details .call-message .message .icon {
  font-size: 1.5rem;
}


.details .call-message :hover {
  cursor: pointer;
}

.details .call-message .call,
.details .call-message .message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}


.carousel {
  height: 60vh;
}

.carousel-item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-width: 950px;
  max-height: 900px;
  /*object-fit: cover;*/
}
