/* body {
  /* min-height: 100vh; */
/* background-color: black; */
.background {
  background-color: rgb(8 145 178);
  width: 420px;
  height: 450px;
  border-radius: 10px;
  color: #fff;
  transition: height 0.3s ease;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.background.active {
  margin: 50px;
  height: 750px;
  transform: translate(0px, 50px);
}

.background .wrapper {
  margin-left: 40px;
  transition: translate 0.18s ease;
}
.background .wrapper.active {
  transition: none;
  translate: -400px;
}

.background .wrapper-register.active {
  transition: translate 0.18s ease;
  translate: -100px;
  /* height: 700px; */
}

.background .wrapper-register {
  margin: 170px 100px;
  padding: 20px;
  position: absolute;
  transition: none;
  translate: 400px;
  width: 420px;
  height: 99%;
  border-radius: 10px;
  /* color: #fff; */
}

.background .wrapper .form-box {
  width: 100%;
  padding: 40px;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid;
  font-size: 16px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -50%;
  font-size: 16px;
}

.form-box .forgot {
  margin-top: -10px;
  text-decoration: underline;
  font-weight: bold;
}
.form-box .terms {
  margin-top: -10px;
  font-size: 14.5px;
  align-items: center;
}
.form-box .terms input {
  position: relative;
  margin-top: 5px;
}
.form-box .forgot a:hover {
  color: black;
}
.form-box .register-link {
  margin: -15px 0px 20px 0px;
  text-align: center;
  font-size: 14.5px;
}
.form-box .landlord-tenant {
  margin: -15px 0px 20px 0px;
  /* text-align: center; */
  font-size: 16px;
}
.form-box .landlord-tenant select {
  background: transparent;
  outline: solid;
  padding: 5px;
  outline-width: 1px;
  border-radius: 15px;
  /* border-width:; */
}

.landlord-tenant select option {
  background: rgb(8 145 178);
}

.form-box .register-link a {
  /* margin-top: -10px; */
  text-decoration: underline;
  font-weight: bold;
  justify-content: center;
}
.form-box .register-link a:hover {
  color: black;
}

.form-box form button {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  margin: 30px 0px;
  color: white;
}
.form-box form button:hover {
  --tw-bg-opacity: 1;
  color: rgb(8 145 178 / var(--tw-bg-opacity));
  background-color: #fff;
}
