.leaflet-popup-content-wrapper {
  background: white;
  color: white !important;
  height: 100px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 0px;
}

.leaflet-popup-content {
  width: 100% !important;
  margin: 0px !important;
  line-height: 1.3;
  font-size: 13px;
  font-size: 1.08333em;
  min-height: 1px;
  height: 100% !important;
  padding: 0 !important;
}

.leaflet-popup-close-button {
  color: white !important;
}
